@import url('https://fonts.googlapis.com/css?family=Ubuntu');

*{
    box-sizing:border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items:center;
    height:100vh;
    overflow:hidden;
    margin:0;
}

.bg {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Beijing_skyline_from_northeast_4th_ring_road.jpg/800px-Beijing_skyline_from_northeast_4th_ring_road.jpg')
    no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left:-30px;
    width:calc(100vw+60px);
    height:calc(100vh+60px);
    z-index:-1;
    filter:blur(50px)
}

.loading-text{
    font-size: 50px;
    color:#fff;
}